body{
  margin: 0;
  padding: 0;
}
header{
  border: solid;
  height: 5vw;
  width: auto;
  display: flex;
}
.header_rogo_fleam{
  width: 45%;
    height: 100%;
}
.header_rogo{
  width: 5vw;
      height: 3.5vw;
      border: solid;
      margin-block-start: 0.5vw;
      margin-inline-start: 20%;
}
.navi{
  padding: 0;
    margin: 0;
    height: auto;
    list-style: none;
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.navi a{
  width: 100%;
}
.navi_menu{
  border: solid;
  height: 100%;
    width: 100%;
    text-align: center;
}
.navi_menu span{
  line-height: 5vw;
}
.Content{
  width: 100%;
  height: 100%;
}
.Top_Content{
  width: 100%;
  height: auto;
}
.Top_fot{
  width: 100%;
  height: 100%;
}
.FirstContent{
  width: 70%;
  position: relative;
  margin: 0 auto;
}
.FirstContent_img{
  width: 70%;
    border: solid;
}
.First_box{
  text-align: center;
      width: 50%;
      position: absolute;
      top: 2vw;
      border: solid;
      right: 1vw;
      background: white;
      height: 80%;
}
.First_box h2{
  font-size: 3vw;
}
.First_box p{
  font-size: 1.5vw;
}
.First_box_button{
　　background-color: #666666;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 0;
    width: 15vw;
    height: 5vw;
    margin-block-start: 4vw;
    cursor: pointer;
  }
.Second{
  margin-top: 5%;
  text-align: center;
}
.Second h1{
  font-size: 3vw;
}
.SecondContent{
  display: flex;
  justify-content:space-around;
  padding-bottom: 5%;
}
.SecondContent_1,.SecondContent_2,.SecondContent_3{
border: solid;
width: auto;
height: 35vw;
}
.SecondContent_fot{
  border: solid;
border-radius: 50%;
}
.SecondContent_1_frame,.SecondContent_2_frame,.SecondContent_3_frame{
  width: 80%;
  margin: auto;
  padding-top:10%;
}
.SecondContent_fot{
  width: 100%;
}
.SecondContent p{
  font-size: 1.5vw;
}
.SecondContent a{
  text-decoration: none;
    font-size: 2vw;
    border: solid black;
    margin: 0;
    border-radius: -9%;
    border-radius: 8px;
    cursor: pointer;
    padding: 0.4vw;
    color: black;
}
.footer_links{
  font-size: 2vw;
    justify-content: space-around;
    list-style: none;
    display: flex;
    text-align: center;
    padding: 0;
    margin-block-start: 6%;
    width: 100%;
}
footer{
  border: solid;
}
.footer_imgs{
  justify-content: flex-end;
    display: flex;
    height: auto;
}
.footer_img{
  margin: 2%;
  width: 6%;
  border: solid;
  height: auto;
}
.Copyright{
text-align: center;
font-size: 20px;
}
/* 会社概要ページ */
.Greetings{
  width: 60%;
  margin: 10% auto;
}
.Greetings h1{
  font-size: 4vw;
  text-align: center;
}
.Greetings img{
width: 45%;
border-radius: 10%;
border: solid;
}
.Greetings_texts{
  float: right;
  width: 50%;
}
.Greetings_texts p{
  margin-top: 0;
    font-size: 1.2vw;
    margin-bottom: 0;
    line-height: 2.5;
}
.Greetings_title{
  font-size: 2.5vw;
text-align: center;
border-bottom: solid;
}
.ConpanyPofire_contentiner{
  width: 100%;
  margin: 10% auto;
}
.ConpanyPofire_content h2{
  font-size: 3vw;
  text-align: center;
}
.ConpanyPofire_content table{
  width: 60%;
      border: solid;
      margin: 0 auto;
      height: auto;
  }
.ConpanyPofire_content table tr th,.ConpanyPofire_content table tr td{
  border: solid;
      font-size: 2vw;
      height: 5vw;
  }
.ConpanyPofire_content table tr th{
padding: 0;
    border: solid;
    margin: 0;
    width: 25%;
}
