body{
  margin: 0;
  padding: 0;
  color: gray;
  background: lightgrey;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.TOP_container{
  display: flex;
  margin-bottom: 10%;
  padding: 1%;
}
.TOP_content{
  margin-left: 6%;
}
.body_second{
  content: "";
    margin: 0 auto;
    background: white;
    width:89%;
    height: 100%;
    border-top:solid black 5px;
}
.body_second header h1{
  color: black;
  margin-left: 6%;
}
.navi{
  width: 100%;
  height: 100%;
}
.navi ul{
  text-align: center;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
}
.navi ul li{
  padding: 1% 0;
    border: solid lightgray 1px;
    width: 100%;
    font-weight: bold;
}
.navi_fontsmall{
  font-size: 13px;
  font-weight:normal;
}
.slide0{
  width: 100%;
}
.TOP_info,.Greetings{
  width: 90%;
}
.TOP_info h2,.Greetings h2,.ConpanyPofire_title h2,.sevice_TOP h2{
  clear: both;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px 20px;
    background: #000;
    background: linear-gradient(#303030, #121212);
    box-shadow: 1px 2px 5px #ccc;
    color: #FFF;
    border-radius: 4px;
    font-weight: normal;
}
.sevice_TOP h2{
  clear: both;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    padding: 5px 20px;
    background: #000;
    background: linear-gradient(#303030, #121212);
    box-shadow: 1px 2px 5px #ccc;
    color: #FFF;
    border-radius: 4px;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
}
.TOP_info_space{
  margin-left: 3%;
}
.TOP_info ul{
  list-style: none;
}
.TOP_info ul li{
  line-height: 2.5;
  border-bottom: solid 1px lightgrey;
}
.TOP_sutitle{
  clear: both;
    font-size: 18px;
    padding: 6px 20px;
    background: linear-gradient(#fff, #eee);
    border: 1px solid #ccc;
    border-radius: 4px;
}
.Greetings{
margin-top: 14%;
}
.Greetings p{
  margin: 0;
line-height: 2.5;
font-size: 16px;
}
.content2{
  width: 35%;
    margin-right: 3%;
}
.TOP_box{
  border: 1px solid #d2d2d2;
    padding: 10px;
    margin-bottom: 20px;
    background: linear-gradient(#fff, #eaeaea);
    box-shadow: 0px 0px 0px 1px #FFF inset;
}
.TOP_box h3{
padding: 15px 10px;
    background: #eee;
    border-bottom: 1px solid #d2d2d2;
    border-top: 5px solid #000;
    font-weight: bold;
}
.TOP_box ul{
  padding: 0;
  list-style: none;
}

.TOP_box ul li{
  text-decoration: none;
  border-bottom:solid 2px lightgrey;
  padding: 5px 0;
}
.coppylite{
  text-align: center;
    padding: 3% 0;
    background: black;
    color: white;
}
.ConpanyPofire_title table{
  border-collapse: collapse;
    font-size: 100%;
    border-spacing: 0;
}
.ConpanyPofire_title table th{
  width: 140px;
    text-align: center;
    font-weight: normal;
}
.ConpanyPofire_title table tr.ConpanyPofire_title table td{
border: 1px solid #ccc;
  padding: 10px 15px;
  word-break: break-all;
}
.sevice_TOP{
  width: 100%;
}
.sevice_content{
  margin-left: 3%;
}
.sevice_content p{
padding: 0px 20px 15px;
}
.sevice_list{
  position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    background: linear-gradient(#FFF, #eee);
    box-shadow: 0px 2px 5px #ccc;
}
.sevice_list a{
  overflow: hidden;
    display: block;
    text-decoration: none;
    margin: -20px;
    padding: 20px;
    background: linear-gradient(#FFF, #eee);
}
.sevice_list a img{
  width: 30%;
    float: left;
    margin-right: 10px;
}
.sevice_list  h4{
  font-size: 18px;
    color: #000;
}
.sevice_list a p{
  padding: 0;
}
.sevice_content2{
  width: 100%;
    margin-right: 3%;
    margin-left: 4%;
}
